/*Font*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans' , sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: url(/assets/images/background-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(275, 33%, 84%);
}

.main-container{
    width: 680px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
}

.faq-container{
    display: flex;
    margin-top: 53px;
    margin-bottom: 53px;
}

.faq-container img{
    margin-right: 30px;
}

.main-h1 h1 {
    font-size: 37px;
}

.first-question , .second-question , .third-question , .fourth-question{
    display: flex;
    align-items: center;
    margin-bottom: 18px;
    justify-content: space-between;
    cursor: pointer;
}

h2{
    font-size: 18px;
    font-weight: 700;
    color: hsl(292, 42%, 14%);
}

h3{
    font-size: 15px;
    font-weight: 700;
    color: grey;
}

.first-answer , .second-answer , .third-answer , .fourth-answer {
    margin-bottom: 5px;
    display: none;
}

.first-answer.active {
    display: block;
}
.second-answer.active {
    display: block;
}
.third-answer.active {
    display: block;
}
.fourth-answer.active {
    display: block;
}

.hidden {
    display: none;
}
